.noFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.noFound h1 {
  color: red;
}

.noFound a {
    background-color: blue;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
}
