* {
  margin: 0;
}

.help_toggle.active {
  display: block;
  right: 0;
}

.prof_toggle.active {
  display: block;
  right: 0;
  top: 100px;
}

.help_toggle {
  display: none;
}

.prof_toggle {
  display: none;
}

/* .help_tog {
  display: none;
} */

.help_tog {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.prof_tog {
  margin: 0;
  padding: 20px;
  list-style: none;
  /* display: flex;
  justify-content: space-between; */
}

.prof_tog::marker {
  display: none;
}

.help_tog a {
  margin-right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  position: absolute;
  top: 50px;
  background: white;
  box-shadow: 0 0 5px 3px #0000006b;
  border-radius: 10px;
}

.list {
  position: absolute;
  top: 50px;
  background: white;
  box-shadow: 0 0 5px 3px #0000006b;
  border-radius: 10px;
}

ul a {
  margin: o;
}

/* .help_toggle {
  display: none;
} */

.tog {
  display: flex;
}

#tog_help {
  margin: 0;
}

#tog_prof {
  padding-left: 5px;
  font-size: 16px;
  text-decoration: none;
  color: rgba(22, 28, 45, 1);
}

.rm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  background: rgba(255, 255, 255, 1);
  font-size: 24px;
  text-decoration: none;
  color: rgba(22, 28, 45, 1);
}

.prof-icon {
  padding-right: 20px;
  color: rgba(22, 28, 45, 1);
  text-decoration: none;
}

.help-icon {
  padding-right: 20px;
}

#customerName {
  padding: 10px;
  text-align: center;
  color: rgba(22, 28, 45, 1);
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
