* {
  margin: 0;
}

.prof_toggle.active {
  display: block;
  right: 0;
  top: 100px;
}

.mbNavHome_toggle.active {
  display: block;
  right: 0;
  top: 100px;
  list-style: none;
}

.mbNavHome_toggle {
  display: none;
}

.help_toggle.active {
  display: block;
  right: 0;
  top: 70px;
}

.help_toggle {
  display: none;
}

.prof_toggle {
  display: none;
}

.mbHamburger_toggle {
  display: none;
}

/* .help_tog {
  display: none;
} */

.help_tog {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.prof_tog {
  margin: 0;
  padding: 30px;
  list-style: none;

  /* display: flex;
  justify-content: space-between; */
}

.prof_tog::marker {
  display: none;
}

.help_tog a {
  margin-right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  position: absolute;
  top: 50px;
  background: white;
  box-shadow: 0 0 5px 3px #0000006b;
  border-radius: 10px;
}

.list {
  position: absolute;
  top: 50px;
  background: white;
  box-shadow: 0 0 5px 3px #0000006b;
  border-radius: 10px;
}

ul a {
  margin: o;
}

/* .help_toggle {
  display: none;
} */

.tog {
  display: flex;
}

#tog_help {
  margin: 0;
}

#tog_prof {
  padding-left: 5px;
  font-size: 16px;
  text-decoration: none;
  color: rgba(22, 28, 45, 1);
  cursor: pointer;
}

.rm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 0px;
  background: rgba(255, 255, 255, 1);
  font-size: 24px;
  text-decoration: none;
  color: rgba(22, 28, 45, 1);
}

.homeNavRm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 0px;
  background: rgba(255, 255, 255, 1);
  font-size: 24px;
  text-decoration: none;
  color: rgba(22, 28, 45, 1);
}

.prof-icon {
  padding-right: 20px;
  color: rgba(22, 28, 45, 1);
  text-decoration: none;
}

.help-icon {
  padding-right: 20px;
}

#customerName {
  padding: 10px;
  text-align: center;
  color: rgba(22, 28, 45, 1);
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

@media only screen and (max-width: 768px) {
  .prof_toggle.active {
    display: block;
    right: 0;
    top: 100px;
  }

  .rm {
    font-size: 16px;
    gap: 100px;
    padding: 20px;
  }

  .prof_tog {
    padding: 15px;
  }

  .mbNavHome_toggle.active {
    display: block;
    right: 0;
    top: 80px;
    z-index: 1;
    height: 100vh;
  }

  .mbHamburger_toggle.active {
    display: block;
    left: 0;
    top: 130px;
    z-index: 1;
    height: 100vh;
  }

  .mbNavHome_toggle {
    display: none;
  }

  .mbNavHome_tog {
    padding: 30px;
    width: 300px;
  }

  .homeNavRm {
    font-size: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .prof_toggle.active {
    display: block;
    right: 0;
    top: 80px;
  }

  .rm {
    font-size: 16px;
    gap: 80px;
    padding: 15px;
  }

  .prof_tog {
    padding: 15px;
  }

  .mbNavHome_toggle.active {
    display: block;
    right: 0;
    top: 50px;
  }

  .mbHamburger_toggle.active {
    display: block;
    left: 0;
    top: 100px;
  }

  .mbNavHome_toggle {
    display: none;
  }

  .mbNavHome_tog {
    padding: 20px;
    width: 200px;
  }

  .homeNavRm {
    font-size: 12px;
  }
}

@media only screen and (max-width: 375px) {
  .prof_toggle.active {
    display: block;
    right: 0;
    top: 80px;
  }

  .rm {
    font-size: 16px;
    gap: 70px;
    padding: 10px;
  }

  .prof_tog {
    padding: 15px;
  }

  .mbNavHome_toggle.active {
    display: block;
    right: 0;
    top: 50px;
  }

  .mbHamburger_toggle.active {
    display: block;
    left: 0;
    top: 90px;
  }

  .mbNavHome_toggle {
    display: none;
  }

  .mbNavHome_tog {
    padding: 20px;
    width: 200px;
  }
  .homeNavRm {
    font-size: 12px;
  }
}

@media only screen and (max-width: 320px) {
  .prof_toggle.active {
    display: block;
    right: 0;
    top: 80px;
  }

  .mbHamburger_toggle.active {
    display: block;
    left: 0;
    top: 90px;
  }

  .rm {
    font-size: 16px;
    gap: 60px;
    padding: 7px;
  }

  .prof_tog {
    padding: 15px;
  }

  .mbNavHome_toggle.active {
    display: block;
    right: 0;
    top: 50px;
  }

  .mbNavHome_toggle {
    display: none;
  }

  .mbNavHome_tog {
    padding: 20px;
    width: 250px;
  }

  .homeNavRm {
    font-size: 12px;
  }
}
