.tm_terms {
    margin: 50px;
    padding: 5px;
    padding-left: 60px;
    padding-right: 100px;
    padding-bottom: 70px;
    box-sizing: border-box;
}

.tm_header {
    color: #2D2D2D;
    font-family: Oxygen;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    width: 764px;
    height: 68px;
    gap: 0px;
    opacity: 0px;
}

.tm_body p, ul{
    color: #414141;
    font-family: Oxygen;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.1px;
    text-align: left;

}

.tm_body h4{
    color: #414141;
    font-family: Oxygen;
    font-size: 20px;
    font-weight: 40;
    line-height: 34.1px;
    text-align: left;
}

.tm_list {
    padding-left: 20px;
}

@media (max-width: 768px) {
    .tm_terms {
        margin: 50px;
        padding: 5px;
        padding-left: 60px;
        padding-right: 10px;
        padding-bottom: 70px;
        box-sizing: border-box;
        width: 750px;
    }
    
    .tm_header {
        color: #2D2D2D;
        font-family: Oxygen;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        width: 764px;
        height: 68px;
        gap: 0px;
        opacity: 0px;
    }
    
    .tm_body p, ul{
        color: #414141;
        font-family: Oxygen;
        font-size: 15px;
        font-weight: 400;
        line-height: 24.1px;
        text-align: left;
    
    }
    
    .tm_body h4{
        color: #414141;
        font-family: Oxygen;
        font-size: 20px;
        font-weight: 40;
        line-height: 34.1px;
        text-align: left;
    }
    
    .tm_list {
        padding-left: 20px;
    }     
}

@media (max-width: 425px) {
    .tm_terms {
        margin: 50px;
        padding: 5px;
        padding-left: 60px;
        padding-right: 10px;
        padding-bottom: 70px;
        box-sizing: border-box;
        width: 750px;
    }
    
    .tm_header {
        color: #2D2D2D;
        font-family: Oxygen;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        width: 764px;
        height: 68px;
        gap: 0px;
        opacity: 0px;
    }
    
    .tm_body p, ul{
        color: #414141;
        font-family: Oxygen;
        font-size: 15px;
        font-weight: 400;
        line-height: 24.1px;
        text-align: left;
    
    }
    
    .tm_body h4{
        color: #414141;
        font-family: Oxygen;
        font-size: 20px;
        font-weight: 40;
        line-height: 34.1px;
        text-align: left;
    }
    
    .tm_list {
        padding-left: 20px;
    }     
}

@media (max-width: 375px) {
    .tm_terms {
        margin: 50px;
        padding: 5px;
        padding-left: 60px;
        padding-right: 10px;
        padding-bottom: 70px;
        box-sizing: border-box;
        width: 650px;
    }
    
    .tm_header {
        color: #2D2D2D;
        font-family: Oxygen;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        width: 764px;
        height: 68px;
        gap: 0px;
        opacity: 0px;
    }
    
    .tm_body p, ul{
        color: #414141;
        font-family: Oxygen;
        font-size: 15px;
        font-weight: 400;
        line-height: 24.1px;
        text-align: left;
    
    }
    
    .tm_body h4{
        color: #414141;
        font-family: Oxygen;
        font-size: 20px;
        font-weight: 40;
        line-height: 34.1px;
        text-align: left;
    }
    
    .tm_list {
        padding-left: 20px;
    }     
}

@media (max-width: 320px) {
    .tm_terms {
        margin: 50px;
        padding: 5px;
        padding-left: 60px;
        padding-right: 10px;
        padding-bottom: 70px;
        box-sizing: border-box;
        width: 650px;
    }
    
    .tm_header {
        color: #2D2D2D;
        font-family: Oxygen;
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        width: 764px;
        height: 68px;
        gap: 0px;
        opacity: 0px;
    }
    
    .tm_body p, ul{
        color: #414141;
        font-family: Oxygen;
        font-size: 15px;
        font-weight: 400;
        line-height: 24.1px;
        text-align: left;
    
    }
    
    .tm_body h4{
        color: #414141;
        font-family: Oxygen;
        font-size: 20px;
        font-weight: 40;
        line-height: 34.1px;
        text-align: left;
    }
    
    .tm_list {
        padding-left: 20px;
    }     
}
