* {
  padding: 0;
  margin: 0;
  font-family: "montserrat";
}

.reg_nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.input {
  border: 2px solid rgba(22, 28, 45, 1);
}

.input input {
  margin: 0;
  border: none;
  outline: none;
}

.nav_dir {
  display: flex;
}
