.profile_inactive {
  background: rgba(255, 255, 255, 1);
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  overflow-x: hidden;
}

.pi_nav {
  display: flex;
  align-items: center;
}

.pi_nav a {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  color: grey;
}

#pi_icon {
  padding: 10px;
}

.pi_focus:focus {
  color: rgba(22, 28, 45, 1);
}

.pi_sidebar {
  display: flex;
  align-items: center;
}

.pi_link {
  margin-left: 20px;
}

.pi_acc {
  display: flex;
  align-items: center;
}

.pi_sidebar h2 {
  color: rgba(22, 28, 45, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.pi_reactIcon {
  border: 2px solid rgba(217, 217, 217, 1);
  border-radius: 50%;
  padding: 15px;
  font-size: 20px;
  background: rgba(217, 217, 217, 1);
}

.section_inaction {
  display: flex;
  justify-content: space-between;
}

.profDrop {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 210px;
  padding-top: 30px;
}

.pi_image {
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.05);
  background-image: url("../../assets/images/Clock.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  height: 500px;
}

/* .pi_linktarget {
  display: none;
} */

/* .pi_linktarget .active {
  display: block;
  flex-direction: column;
} */

.account_infoAddress {
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.05);
}

#arrowBack {
  padding: 15px;
  color: grey;
  font-size: 25px;
  cursor: pointer;
}

.account_infoAddressContent {
  padding-left: 40px;
  padding-right: 40px;
}

.editProfile {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  text-decoration: none;
  color: rgba(15, 98, 254, 1);
}

.pi_inputFieldContent {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

#inputRm {
  margin: 0;
  border: 4px solid rgba(245, 245, 245, 1);
  background: rgba(245, 245, 245, 1);
  padding: 15px;
  border-radius: 7px;
  width: 400px;
  font-size: 16px;
}

.pi_inputField {
  display: flex;
  flex-direction: column;
}

.pi_InputName {
  margin-bottom: 15px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(22, 28, 45, 1);
}

#inputPass {
  margin-top: 20px;
  border: 4px solid rgba(245, 245, 245, 1);
  background: rgba(245, 245, 245, 1);
  padding: 20px;
  border-radius: 7px;
  font-size: 16px;
}

.btn_ProfileAdddress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

#btn_cancel {
  border: 1px solid rgba(22, 28, 45, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 40px;
  text-align: center;
  border-radius: 7px;
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
}

#btn_change {
  padding: 10px 30px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(22, 28, 45, 1);
  border-radius: 7px;
  cursor: pointer;
}

.deliveryOpt {
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.05);
}

.linkbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

#addressId {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: rgba(15, 98, 254, 1);
}

#btn_newAddress {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(22, 28, 45, 1);
  padding: 10px 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  text-decoration: none;
}

.submitAddress {
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.05);
}

.addressVal {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.form-name {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.phoneNum {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.wrap-layout {
  width: 80%;
}

.profP {
  cursor: pointer;
  text-align: center;
}

.profP:focus {
  color: rgba(15, 98, 254, 1);
}

.userDetail {
  width: 40%;
  margin: 20px;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.user_info {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.delEdit {
  display: flex;
  gap: 30px;
}

#user_del {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(250, 22, 15, 1);
}

#user_edit {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(15, 98, 254, 1);
  text-decoration: none;
}

.userDataDetail {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

#personalUserInfo {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(22, 28, 45, 1);
  cursor: pointer;
}
#iconPersonal {
  font-size: 30px;
  color: rgba(22, 28, 45, 1);
  cursor: pointer;
}

.detailDel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.delBtn {
  display: flex;
  justify-content: end;
  padding: 20px;
}

.delBtn button {
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(22, 28, 45, 1);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  border-radius: 7px;
  cursor: pointer;
}

.lga {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

select {
  /* appearance: none;   Removes default arrow in some browsers */
  padding: 20px;
  box-sizing: border-box;
  border: 0;
  background: rgba(245, 245, 245, 1);
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
}

select option {
  max-width: 100%; /* Prevent options from expanding select box */
  white-space: nowrap; /* Prevent long text from wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for long text */
  padding: 20px;
  border: 0;
}

.btnCont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnCont button {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(22, 28, 45, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  padding: 5px 50px;
  border-radius: 10px;
}
