.footer_content {
  background: rgba(22, 28, 45, 1);
}

.mb_footer {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.footer_session {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_name h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: rgba(105, 112, 119, 1);
}

.header {
  color: rgba(250, 250, 250, 1);
}

.footer_session p {
  color: rgba(250, 250, 250, 1);
  color: rgba(250, 250, 250, 1);
}

.footer_session a {
  color: rgba(250, 250, 250, 1);
  text-decoration: none;
}

.footer_session a:hover {
  color: rgba(105, 112, 119, 1);
}

.footer_copyright p {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  color: rgba(105, 112, 119, 1);

  display: flex;
  justify-content: center;
  align-items: center;
}

#footerHr {
  border: 0.1rem solid #ffffff;
}

@media only screen and (max-width: 768px) {
  .footer {
    display: none;
  }

  .mb_footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .footer_name h1 {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sec1 {
    display: flex;
    justify-content: space-evenly;
  }

  .sec2 {
    display: flex;
    justify-content: space-evenly;
  }

  .sec1 a {
    color: rgba(250, 250, 250, 1);
    text-decoration: none;
    font-size: 14px;
  }

  .sec1 a:hover {
    color: rgba(105, 112, 119, 1);
  }

  .sec2 a {
    color: rgba(250, 250, 250, 1);
    text-decoration: none;
    font-size: 14px;
  }

  .sec2 a:hover {
    color: rgba(105, 112, 119, 1);
  }

  .footer_copyright p {
    font-size: 8px;
    padding-top: 5px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 425px) {
  .footer {
    display: none;
  }

  .mb_footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .footer_name h1 {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sec1 {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .sec2 {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .sec1 a {
    color: rgba(250, 250, 250, 1);
    text-decoration: none;
    font-size: 11px;
  }

  .sec1 a:hover {
    color: rgba(105, 112, 119, 1);
  }

  .sec2 a {
    color: rgba(250, 250, 250, 1);
    text-decoration: none;
    font-size: 11px;
  }

  .sec2 a:hover {
    color: rgba(105, 112, 119, 1);
  }

  .footer_copyright p {
    font-size: 8px;
    padding-top: 5px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 375px) {
  .footer {
    display: none;
  }

  .mb_footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .footer_name h1 {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sec1 {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .sec2 {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .sec1 a {
    color: rgba(250, 250, 250, 1);
    text-decoration: none;
    font-size: 11px;
  }

  .sec1 a:hover {
    color: rgba(105, 112, 119, 1);
  }

  .sec2 a {
    color: rgba(250, 250, 250, 1);
    text-decoration: none;
    font-size: 11px;
  }

  .sec2 a:hover {
    color: rgba(105, 112, 119, 1);
  }

  .footer_copyright p {
    font-size: 8px;
    padding-top: 5px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 320px) {
  .footer {
    display: none;
  }

  .mb_footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .footer_name h1 {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sec1 {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .sec2 {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .sec1 a {
    color: rgba(250, 250, 250, 1);
    text-decoration: none;
    font-size: 11px;
  }

  .sec1 a:hover {
    color: rgba(105, 112, 119, 1);
  }

  .sec2 a {
    color: rgba(250, 250, 250, 1);
    text-decoration: none;
    font-size: 11px;
  }

  .sec2 a:hover {
    color: rgba(105, 112, 119, 1);
  }

  .footer_copyright p {
    font-size: 8px;
    padding-top: 5px;
    padding-bottom: 30px;
  }
}


@media (max-width: 425px) {
    .footer_content {
        display: none;
    }
    
    .mb_content {
        background-color: #161C2D;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        max-height: 210px;
        display: block;
    }
    
    .mb_header h1{
        text-align: center;
        color: #697077;
        font-family: Montserrat;
        font-size: 25px;
        padding-bottom: 1px;
        padding-top: 15px;
        font-weight: 700;
    }
    
    .mb_account {
        text-align: left;
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 25px;
        padding-right: 10px;
    }
    
    .mb_contact {
        text-align: center;
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 20px;
        padding-right: 5px;
        
    }
    
    .mb_help {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 50px;
        padding-right: 30px;
    }
    
    .mb_terms {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 10px;
        padding-right: 30px;
    }
    
    .mb_faq {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 25px;
        padding-right: 20px;
        padding-top: 5px;
    }
    
    .mb_us {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 15px;
        padding-right: 10px;
        padding-top: 10px;
    }
    
    .mb_return {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 40px;
        padding-right: 20px;
        padding-top: 10px;
    }
    
    .mb_privacy {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 25px;
        padding-right: 1px;
        padding-top: 10px;
    }
    
    hr {
        border: 0.1rem solid #FFFFFF;
    }
     
    .mb_copyright {
        display: flex;
        color: #FFFFFF;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        padding-top: 11px;
        color: #FFFFFF;
        font-size: 7px;
    }
    
    .mb_below {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
    }
}


@media (max-width: 375px) {
    .footer_content {
        display: none;
    }
    
    .mb_content {
        background-color: #161C2D;
        padding-top: 5px;
        padding-bottom: 5px;
        /* padding-right: 50px; */
        border-radius: 5px;
        max-width: 650px;
        max-height: 210px;
        display: block;
    }
    
    .mb_header h1{
        text-align: center;
        color: #697077;
        font-family: Montserrat;
        font-size: 25px;
        padding-bottom: 1px;
        padding-top: 15px;
        font-weight: 700;
    }
    
    .mb_account {
        text-align: left;
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 25px;
        padding-right: 10px;
    }
    
    .mb_contact {
        text-align: center;
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 20px;
        padding-right: 5px;
        
    }
    
    .mb_help {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 50px;
        padding-right: 30px;
    }
    
    .mb_terms {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 10px;
        padding-right: 30px;
    }
    
    .mb_faq {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 25px;
        padding-right: 20px;
        padding-top: 5px;
    }
    
    .mb_us {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 15px;
        padding-right: 10px;
        padding-top: 10px;
    }
    
    .mb_return {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 40px;
        padding-right: 20px;
        padding-top: 10px;
    }
    
    .mb_privacy {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 25px;
        padding-right: 1px;
        padding-top: 10px;
    }
    
    hr {
        border: 0.1rem solid #FFFFFF;
    }
     
    .mb_copyright {
        display: flex;
        color: #FFFFFF;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        padding-top: 11px;
        color: #FFFFFF;
        font-size: 7px;
    }
    
    .mb_below {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
    }
    
}


@media (max-width: 320px) {
    .footer_content {
        display: none;
    }

    .mb_content {
        background-color: #161C2D;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 5px;
        max-width: 320px;
        max-height: 210px;
        display: block;
    }
    
    .mb_header h1{
        text-align: center;
        color: #697077;
        font-family: Montserrat;
        font-size: 25px;
        padding-bottom: 1px;
        padding-top: 15px;
        font-weight: 700;
    }
    
    .mb_account {
        text-align: left;
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 25px;
        padding-right: 10px;
    }
    
    .mb_contact {
        text-align: center;
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 20px;
        padding-right: 5px;
        
    }
    
    .mb_help {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 50px;
        padding-right: 30px;
    }
    
    .mb_terms {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 10px;
        padding-right: 30px;
    }
    
    .mb_faq {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 25px;
        padding-right: 20px;
        padding-top: 5px;
    }
    
    .mb_us {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 15px;
        padding-right: 10px;
        padding-top: 10px;
    }
    
    .mb_return {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 40px;
        padding-right: 20px;
        padding-top: 10px;
    }
    
    .mb_privacy {
        color: #FAFAFA;
        font-family: Inter;
        font-size: 7px;
        font-weight: 300;
        padding-left: 25px;
        padding-right: 1px;
        padding-top: 10px;
    }
    
    hr {
        border: 0.1rem solid #FFFFFF;
    }
     
    .mb_copyright {
        display: flex;
        color: #FFFFFF;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        padding-top: 11px;
        color: #FFFFFF;
        font-size: 7px;
    }
    
    .mb_below {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 20px;
    }  
} 
