.ctm_content {
    display: none;
}

.ctm_data {
    display: none;
}

.ct_header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000000;
    font-family: Inter;
}

.ct_main {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
    padding-bottom: 50px;
    background-color: #F8F8F8;
}

.ct_general{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #000000;
    font-family: Inter;
}

.hr {
    background-color: #161C2D;
}

.ct_form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 40px;
}

.ct_form button {
    padding: 7px;
    padding-left: 40px;
    padding-right: 40px;
}

.ct_paragraph{
    padding-left: 20px;
}

.ct_promo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ct_discount {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-self: center;
    width: 60%;
}

.ct_discount input{
    border: none;
    font-size: 20px;
    font-family: Inter;
    margin: 0;
    width: 70%;
    padding-left: 40px;
    padding-right: 40px;
}

.ct_discount button{
    width: 30%;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
}

.ct_checkbox {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-right: 70px;
    gap: 10px;
}

.ct_checkbox button{
    text-align: center;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
}

.ct_first{
    background-color: #161C2D;
    color: #F8F8F8;
    border: none;
}

.ct_second{
    background-color: #161C2D;
    color: #F8F8F8;
    border: none;
}

.ct_detail{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.ct_image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ct_size button{
    width: 30px;
    height: 40px;
}

.ct_countHandler{
    display: flex;
    align-items: center;
}

.ct_countHandler button{
    width: 30px;
    height: 40px;
}

.ct_item{
    border: none;
    width: 20%;
    text-align: center;
}

.ct_remove button{
    width: 30px;
    height: 40px;
}

/* .ct_real{
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */



@media (max-width: 768px) {
    .ct_content {
        display: none;
    }

    .ct_details {
        display: none;
    }

    .ctm_data{
        display: block;
    }

    .ctm_content {
        display: block;
    }

    .ctm_header {
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        color: #000000;
        font-family: Inter;
        font-size: 10px;
    }
    
    .ctm_main {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        background-color: #F8F8F8;
    }
    
    .ctm_general {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #000000;
        font-family: Inter;
        font-size: 10px;
    }

    .hr {
        background-color: #161C2D;
    }
    
    .ctm_form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 10px;
    }
    
    .ctm_form button {
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;
    }

    .ctm_paragraph {
        font-size: 12px;
        padding-left: 10px;
    }

    .ctm_promo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    
    .ctm_discount {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50%;
        padding-left: 10px;
    }
    
    .ctm_discount input{
        border: none;
        font-size: 10px;
        font-family: Inter;
        margin: 0;
        width: 60%;
    }

    .ctm_discount button{
        font-size: 9px;
        width: 40%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .ctm_checkbox {
        display: flex;
        flex-direction: column;
        padding-right: 50px;
        padding-top: 10px;
        gap: 10px;
    }
    
    .ctm_checkbox button{
        text-align: center;
        padding: 2px;
        font-size: 10px;
    }

    .ctm_first{
        background-color: #161C2D;
        color: #F8F8F8;
        border: none;
    }
    
    .ctm_second{
        background-color: #161C2D;
        color: #F8F8F8;
        border: none;
    }
}

@media (max-width: 425px) {
    .ct_content {
        display: none;
    }

    .ct_data {
        display: none;
    }

    .ctm_data{
        display: block;
    }

    .ctm_content {
        display: block;
    }

    .ctm_header {
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        color: #000000;
        font-family: Inter;
        font-size: 10px;
    }
    
    .ctm_main {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        background-color: #F8F8F8;
    }
    
    .ctm_general {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #000000;
        font-family: Inter;
        font-size: 10px;
    }

    .hr {
        background-color: #161C2D;
    }
    
    .ctm_form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 10px;
    }
    
    .ctm_form button {
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;
    }

    .ctm_paragraph {
        font-size: 12px;
        padding-left: 10px;
    }

    .ctm_promo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    
    .ctm_discount {
        display: flex;
        width: 50%;
        padding-left: 10px;
    }
    
    .ctm_discount input{
        border: none;
        font-size: 10px;
        font-family: Inter;
        margin: 0;
        width:60%;
    }

    .ctm_discount button{
        font-size: 9px;
        width: 40%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .ctm_checkbox {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        gap: 10px;
        padding-top: 10px;
    }
    
    .ctm_checkbox button{
        text-align: center;
        padding: 2px;
        font-size: 10px;
    }

    .ctm_first{
        background-color: #161C2D;
        color: #F8F8F8;
        border: none;
    }
    
    .ctm_second{
        background-color: #161C2D;
        color: #F8F8F8;
        border: none;
    }
}


@media (max-width: 375px) {
    .ct_content {
        display: none;
    }

    .ct_data {
        display: none;
    }

    .ctm_data{
        display: block;
    }
   
    .ctm_content {
        display: block;
    }

    .ctm_header {
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        color: #000000;
        font-family: Inter;
        font-size: 10px;
    }
    
    .ctm_main {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        background-color: #F8F8F8;
    }
    
    .ctm_general {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #000000;
        font-family: Inter;
        font-size: 10px;
    }

    .hr {
        background-color: #161C2D;
    }
    
    .ctm_form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 10px;
    }
    
    .ctm_form button {
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;
    }

    .ctm_paragraph {
        font-size: 12px;
        padding-left: 10px;
    }

    .ctm_promo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    
    .ctm_discount {
        display: flex;
        width: 50%;
        padding-left: 10px;
    }
    
    .ctm_discount input{
        border: none;
        font-size: 10px;
        font-family: Inter;
        margin: 0;
        width: 40%;
    }

    .ctm_discount button{
        font-size: 9px;
        width: 60%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .ctm_checkbox {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        gap: 10px;
        padding-top: 10px;
    }
    
    .ctm_checkbox button{
        text-align: center;
        padding: 2px;
        font-size: 10px;
    }

    .ctm_first{
        background-color: #161C2D;
        color: #F8F8F8;
        border: none;
    }
    
    .ctm_second{
        background-color: #161C2D;
        color: #F8F8F8;
        border: none;
    }
}


@media (max-width: 320px) {
    .ct_content {
        display: none;
    }

    .ct_data {
        display: none;
    }

    .ctm_content {
        display: block;
    }

    .ctm_data{
        display: block;
    }

    .ctm_header {
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        color: #000000;
        font-family: Inter;
        font-size: 10px;
    }
    
    .ctm_main {
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        background-color: #F8F8F8;
    }
    
    .ctm_general {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #000000;
        font-family: Inter;
        font-size: 10px;
    }

    .hr {
        background-color: #161C2D;
    }
    
    .ctm_form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 10px;
    }
    
    .ctm_form button {
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;
    }

    .ctm_paragraph {
        font-size: 10px;
    }

    .ctm_promo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
    
    .ctm_discount {
        display: flex;
        width: 50%;
    }
    
    .ctm_discount input{
        border: none;
        font-size: 10px;
        font-family: Inter;
        margin: 0;
        width: 40%;
    }

    .ctm_discount button{
        font-size: 9px;
        width: 60%;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    
    .ctm_checkbox {
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        gap: 10px;
        padding-top: 10px;
    }
    
    .ctm_checkbox button{
        text-align: center;
        padding: 2px;
        font-size: 10px;
    }

    .ctm_first{
        background-color: #161C2D;
        color: #F8F8F8;
        border: none;
    }
    
    .ctm_second{
        background-color: #161C2D;
        color: #F8F8F8;
        border: none;
    }
}